/*------------
    RESET
------------*/       
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*------------
    GENERAL
------------*/    
.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

/*------------
    HEADER
------------*/    
.header-top{
    background-color: #ADD8E6;
    padding: 15px 0px;
}
.header-top > .container{
    display: flex;
    background-color: #DAA520;
}
.header-top > .container > *{
    border: 1px dashed black;
    padding: 6px 6px;
}
.header-top .logo{
    width: 20%;
}
.header-top .login{
    width: 20%;
    text-align: right;
}
.header-top .nav{
   width: 60%;
    text-align: center;
}
.header-bottom{
    background-color: #00008B;
    padding: 30px 0px;
}
.header-col{
    background-color: #EE82EF;
    border: 1px dashed black;
    width: 910px;
    height: 400px;
    margin: auto;
}

/*------------
   FIRST SECTION
------------*/    
.first-sec{
    min-width: 600px;
    background-color: #ffffff;
    padding: 15px 0px;
}
.first-sec > .container{
    display:flex
}

.big-col{
    background-color: #1F90FF;
    width: 710px;
    height: 400px;
    border: 1px dashed black
}
.small-col{
    background-color: #EE82EF;
    width: 480px;
    height: 400px;
    border: 1px dashed black
}
/*------------
   SECOND SECTION
------------*/
.second-sec{
    min-width: 600px;
    background-color: #D3D3D3;
    padding: 15px 0px
}
.second-sec > .container{
    display:flex;
    
}
.small-col{
    background-color: #EE82EF;
    width: 480px;
    height: 400px;
    border: 1px dashed black
}
.big-col{
    background-color: #1F90FF;
    width: 710px;
    height: 400px;
    border: 1px dashed black
}
